global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'gateway'
    static_configs:
      - targets: ['gateway:8001']
    metrics_path: /metrics

  - job_name: 'analytics'
    static_configs:
      - targets: ['analytics.api:8000']
    metrics_path: /prometheus
  - job_name: 'cart'
    static_configs:
      - targets: ['cart.api:80']
    metrics_path: /metrics
  - job_name: 'order'
    static_configs:
      - targets: ['order.api:80']
    metrics_path: /metrics
  - job_name: 'notification'
    static_configs:
      - targets: ['notification.api:8000']
    metrics_path: /prometheus
  - job_name: 'promotion'
    static_configs:
      - targets: ['promotion.api:8000']
    metrics_path: /prometheus
  - job_name: 'review'
    static_configs:
      - targets: ['review.api:8000']
    metrics_path: /prometheus
  - job_name: 'recommendation'
    static_configs:
      - targets: ['recommendation.api:8000']
    metrics_path: /prometheus
  - job_name: 'admin'
    static_configs:
      - targets: ['admin.api:8000']
    metrics_path: /metrics
